h1{
    background: #62cc47;
background-color: rgb(243, 140, 43);
    color: #ac2f2f;
}
h2{
    color: #0a0c8a;
    background: #030a4d;
background-color: rgb(236, 79, 145);
}
p {
    background: #ac2f2f;
    background-color: aqua;
    color: #1ebe61;
}